.background-discribing {
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 80px;
}

.custom-image {
    background-repeat:no-repeat !important;
    background-position: right !important;
}

.espessura-linha-customizada {
    line-height: 200%;
}

.espessura-customizada-titulos {
    line-height: 120%;
}