<div class="container mt-5">
    <mat-card>
        <div class="row">
            <div class="col">
                <h2>Cadastro de Supermecado</h2>
            </div>
        </div>
        <form [formGroup]="supermecadoForm" novalidate>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" placeholder="Nome">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" formControlName="fone" placeholder="fone">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" formControlName="endereco" placeholder="endereco">
                    </mat-form-field>
                </div>
                
            </div>
        </form>
        <div class="row justify-content-end">
            <div class="col-xl-2 col-md-3 mb-2">
                <button mat-flat-button color="primary" class="btn-block" [routerLink]="['/supermecado/lista']">Cancelar</button>
            </div>
            <div class="col-xl-2 col-md-3 mb-2">
                <button mat-flat-button color="primary" class="btn-block" [routerLink]="['/supermecado/lista']">Salvar</button>
            </div>
        </div>
    </mat-card>
</div>
