
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-8 custom-image mr-5 ml-5" [ngStyle]="{background: 'url(./assets/analise-graficos.png)', width: '885px', height: '468px'}">
        <div class="row">
            <div class="col-6 mb-3">
                <h1 class="espessura-customizada-titulos"><strong>Save your data storage here.</strong></h1>
                
            </div>
        </div>    
        <div class="row mb-5">
            <div class="col-4">
                <p class="espessura-linha-customizada">Data Warehouse is a data storage area that has been tested for security, 
                    so you can store your data here safely but not be afraid of being stolen by others.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <button mat-raised-button color="primary" class="custom-button-learn-more">
                    <mat-label>Learn more</mat-label>
                </button>
            </div>
        </div>  
    </div>
</div>
<div class="container mb-5">    
    <div class="row">
        <div class="col background-discribing">
            <div class="row">
                <div class="col">
                    <img [src]="'./assets/graficos-porcentagens.png'" class="img-fluid" alt="Análise de Gráficos">
                </div>
                <div class="col mr-5 align-self-center">
                    <h2 class="espessura-customizada-titulos"><strong>We are a high-level data storage bank</strong></h2>
                    <p class="mt-5 espessura-linha-customizada">The place to store various data that you can access at any time through the 
                        internet and where you can carry it. This very flexible storage area has a high level of security. 
                        To enter into your own data you must enter the password that you created when you 
                        registered in this Data Warehouse.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col">
            <h2 class="text-center mb-5"><strong>Features</strong></h2>
            <p class="text-center">Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.</p>
        </div>
    </div>
</div>
<app-feature-detail></app-feature-detail>
<mat-divider></mat-divider>
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <h2><strong>Try for free!</strong></h2>
            <p>Get limited 1 week free try our features!</p>
        </div>
        <div class="col-xl-2">
            <button mat-raised-button class="custom-button-learn-more">
                <mat-label>Learn more</mat-label>
            </button>
        </div>
        <div class="col-xl-2">
            <button mat-raised-button class="custom-button">
                <mat-label>Request Demo</mat-label>
                <mat-icon class="ml-2" color=primary>east</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                
                <app-logo class="ml-3 mb-4"></app-logo>
                
                <div class="ml-4">
                    <h3><strong>DataWarehouse</strong></h3>
                </div>
            </div>
            <p>Warehouse Society, 234 Bahagia Ave Street PRBW 29281</p>
            <p>info@warehouse.project 1-232-3434 (Main)</p>
        </div>
        <div class="col">
            <h3><strong>About</strong></h3>
            <p>Profile</p>
            <p>Features</p>
            <p>Careers</p>
            <p>DW News</p>
        </div>
        <div class="col">
            <h3><strong>Help</strong></h3>
            <p>Support</p>
            <p>Sign up</p>
            <p>Guide</p>
            <p>Reports</p>
            <p>Q&A</p>
        </div>
        <div class="col">
            <h3><strong>Social Media</strong></h3>
            <button mat-mini-fab disabled color="accent" class="mr-1 ml-1"><i class="fa fa-facebook"></i></button>
            <button mat-mini-fab disabled class="mr-1 ml-1"><i class="fa fa-twitter"></i></button>
            <button mat-mini-fab disabled class="mr-1 ml-1"><i class="fa fa-instagram"></i></button>
        </div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="col">
            <small>© Datawarehouse™, 2020. All rights reserved. Company Registration Number: 21479524.</small>
        </div>
        <div class="col text-right">
            <button mat-icon-button color="primary"><mat-icon>textsms</mat-icon></button>
        </div>
    </div>
</div>
