.background-card {
    background-color: rgba(104, 201, 186, 0.1);
    border-radius: 50px;
}

.tamanho-melhor {
    background-repeat:no-repeat !important;
    background-position: right !important;  
}

.margem-imagem {
    margin-top: 15%;
}

